<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357515439362-4taqnhns12f62h8s767p8tmi6g6fsh4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357515439362-4taqnhns12f62h8s767p8tmi6g6fsh4n</string>
	<key>API_KEY</key>
	<string>AIzaSyAY9CULr5jrmLV67jO1bFFiEF9gKj1v8c0</string>
	<key>GCM_SENDER_ID</key>
	<string>357515439362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digis.PruebaUpax</string>
	<key>PROJECT_ID</key>
	<string>pruebaupax-48121</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebaupax-48121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357515439362:ios:21522d4090b9019265e61b</string>
</dict>
</plist>